# Subsetting the data

## About the Data
In this notebook, we will be working with FIFA players data for 2022 obtained from [Kaggle](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset)

## Setup
We will be working with the `players_22.csv` file, so we need to handle our imports and read it in.

In [1]:
import pandas as pd

In [2]:
players = pd.read_csv('players_22.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26,109) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
players.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

## Selection of Columns
Grab an entire column using attribute notation:

In [6]:
players.age

0        34
1        32
2        36
3        29
4        30
         ..
19234    22
19235    19
19236    21
19237    19
19238    19
Name: age, Length: 19239, dtype: int64

Grab an entire column using dictionary syntax:

In [ ]:
players['age']

0        34
1        32
2        36
3        29
4        30
         ..
19234    22
19235    19
19236    21
19237    19
19238    19
Name: age, Length: 19239, dtype: int64

Selecting multiple columns:

In [8]:
players[['short_name', 'age']]

               short_name  age
0                L. Messi   34
1          R. Lewandowski   32
2       Cristiano Ronaldo   36
3               Neymar Jr   29
4            K. De Bruyne   30
...                   ...  ...
19234           Song Defu   22
19235           C. Porter   19
19236            N. Logue   21
19237           L. Rudden   19
19238  E. Lalchhanchhuaha   19

[19239 rows x 2 columns]

## Slicing
### Selecting rows
Using row numbers (inclusive of first index, exclusive of last):

In [10]:
players[100:105]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
100,175943,https://sofifa.com/player/175943/dries-mertens...,D. Mertens,Dries Mertens,"CF, ST, CAM",84,84,20500000.0,105000.0,34,...,46+3,46+3,46+3,58+3,16+3,https://cdn.sofifa.net/players/175/943/22_120.png,https://cdn.sofifa.net/teams/48/60.png,https://cdn.sofifa.net/flags/it.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
101,181291,https://sofifa.com/player/181291/georginio-wij...,G. Wijnaldum,Georginio Wijnaldum,"CM, CDM",84,84,40500000.0,115000.0,30,...,79+3,79+3,79+3,80+3,19+3,https://cdn.sofifa.net/players/181/291/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/105035/60.png,https://cdn.sofifa.net/flags/nl.png
102,183711,https://sofifa.com/player/183711/jordan-hender...,J. Henderson,Jordan Henderson,"CDM, CM",84,84,29500000.0,140000.0,31,...,79+3,79+3,79+3,79+3,19+3,https://cdn.sofifa.net/players/183/711/22_120.png,https://cdn.sofifa.net/teams/9/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1318/60.png,https://cdn.sofifa.net/flags/gb-eng.png
103,184134,https://sofifa.com/player/184134/fernando-rege...,Fernando,Fernando Francisco Reges,"CDM, CM",84,84,21000000.0,43000.0,33,...,82+2,82+2,82+2,79+2,14+2,https://cdn.sofifa.net/players/184/134/22_120.png,https://cdn.sofifa.net/teams/481/60.png,https://cdn.sofifa.net/flags/es.png,NaN,https://cdn.sofifa.net/flags/br.png
104,186345,https://sofifa.com/player/186345/kieran-trippi...,K. Trippier,Kieran Trippier,"RB, RWB, RM",84,84,36500000.0,74000.0,30,...,78+2,78+2,78+2,81+2,19+2,https://cdn.sofifa.net/players/186/345/22_120.png,https://cdn.sofifa.net/teams/240/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1318/60.png,https://cdn.sofifa.net/flags/gb-eng.png

### Selecting rows and columns with chaining

In [11]:
players[['short_name', 'age']][100:103]

       short_name  age
100    D. Mertens   34
101  G. Wijnaldum   30
102  J. Henderson   31

Order doesn't matter:

In [12]:
players[100:103][['short_name', 'age']]

       short_name  age
100    D. Mertens   34
101  G. Wijnaldum   30
102  J. Henderson   31

### Location Indexing with `loc`
Selection of the format `loc[row_indexer, column_indexer]` to select specific rows and columns without chaining. If we use row numbers with `loc`, they are now **inclusive** of the end index:

In [14]:
players.loc[10:15, ['long_name', 'age']]

,long_name,player_positions,overall,potential,value_eur,wage_eur,age
10,N'Golo Kanté,"CDM, CM",90,90,100000000.0,230000.0,30
11,Karim Benzema,"CF, ST",89,89,66000000.0,350000.0,33
12,Thibaut Courtois,GK,89,91,85500000.0,250000.0,29
13,손흥민 孙兴慜,"LM, CF, LW",89,89,104000000.0,220000.0,28
14,Carlos Henrique Venancio Casimiro,CDM,89,89,88000000.0,310000.0,29
15,Virgil van Dijk,CB,89,89,86000000.0,230000.0,29

In [15]:
players.loc[[10,15], 'long_name':'age']

,long_name,player_positions,overall,potential,value_eur,wage_eur,age
10,N'Golo Kanté,"CDM, CM",90,90,100000000.0,230000.0,30
15,Virgil van Dijk,CB,89,89,86000000.0,230000.0,29

#### Integer Location Indexing with `iloc`
Exclusive of the endpoint just as Python slicing of lists:

In [16]:
players.iloc[10:15, [3, 9]]

                            long_name  age
10                       N'Golo Kanté   30
11                      Karim Benzema   33
12                   Thibaut Courtois   29
13                            손흥민 孙兴慜   28
14  Carlos Henrique Venancio Casimiro   29

We can use slicing syntax with `iloc` for both rows and columns:

In [ ]:
players.iloc[10:15, 2:4]

     short_name                          long_name
10     N. Kanté                       N'Golo Kanté
11   K. Benzema                      Karim Benzema
12  T. Courtois                   Thibaut Courtois
13       H. Son                            손흥민 孙兴慜
14     Casemiro  Carlos Henrique Venancio Casimiro

In [17]:
players.iloc[[10, 11, 12, 13, 14, 15], [2, 3, 4]]

     short_name                          long_name player_positions
10     N. Kanté                       N'Golo Kanté          CDM, CM
11   K. Benzema                      Karim Benzema           CF, ST
12  T. Courtois                   Thibaut Courtois               GK
13       H. Son                            손흥민 孙兴慜       LM, CF, LW
14     Casemiro  Carlos Henrique Venancio Casimiro              CDM
15  V. van Dijk                    Virgil van Dijk               CB

## Filtering
We can filter our dataframes using a **Boolean mask**, which can be made as follows:

In [ ]:
players.age > 18

0        True
1        True
2        True
3        True
4        True
         ...
19234    True
19235    True
19236    True
19237    True
19238    True
Name: age, Length: 19239, dtype: bool

To use a mask for selection, we simply place it inside the brackets:

In [18]:
players[players.age >= 18]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
19235,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19236,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19237,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

We can use masks with `loc`:

In [ ]:
players.loc[
    players.age >= 18,
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
0,L. Messi,320000.0,34,Paris Saint-Germain,Argentina,Left
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

Masks can be created using multiple criteria when combined with bitwise operators `&` for AND and `|` for OR. We must also surround each criterion with parentheses. We can't use `and`/`or` here because we need to evaluate row by row:

In [ ]:
players.loc[
    (players.age == 18) & (players.preferred_foot == 'Right'),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
387,Pedri,51000.0,18,FC Barcelona,Spain,Right
661,J. Bellingham,21000.0,18,Borussia Dortmund,England,Right
862,F. Wirtz,18000.0,18,Bayer 04 Leverkusen,Germany,Right
1122,G. Reyna,18000.0,18,Borussia Dortmund,United States,Right
1450,A. Hložek,500.0,18,AC Sparta Praha,Czech Republic,Right
...,...,...,...,...,...,...
19194,E. Singh,500.0,18,ATK Mohun Bagan FC,India,Right
19203,C. Noonan,500.0,18,Shamrock Rovers,Republic of Ireland,Right
19227,A. Shaikh,500.0,18,ATK Mohun Bagan FC,India,Right
19229,H. Singh,500.0,18,SC East Bengal FC,India,Right
19232,M. O'Brien,500.0,18,Longford Town,Republic of Ireland,Right

An example with an OR condition, which is must less restrictive:

In [ ]:
players.loc[
    (players.age == 18) | (players.preferred_foot == 'Right'),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
5,J. Oblak,130000.0,28,Atlético de Madrid,Slovenia,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

Masks can be any criteria that results in a Boolean. For example, we can select all right foot players with the string `Right` in the `preferred_foot` column with a non-null value for the `wage_eur` column. To get non-nulls, we can use the `notnull()` method:

In [ ]:
players.wage_eur.notnull()

In [19]:
players.wage_eur.isnull().sum()

61

In [ ]:
players.loc[
    (players.preferred_foot.str.contains('Right')) & (players.wage_eur.notnull()),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
5,J. Oblak,130000.0,28,Atlético de Madrid,Slovenia,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

We can use the `between()` method to turn 2 individual checks (is less than or equal some maximum value and is greater than or equal to some minimum value) into a single one. Note this is inclusive of the endpoint by default:

In [21]:
players.loc[
    players.wage_eur.between(10000, 50000),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
72,David Silva,44000.0,35,Real Sociedad,Spain,Left
73,Y. Sommer,40000.0,32,Borussia Mönchengladbach,Switzerland,Right
98,Jesús Navas,30000.0,35,Sevilla FC,Spain,Right
103,Fernando,43000.0,33,Sevilla FC,Brazil,Right
105,Iago Aspas,46000.0,33,RC Celta de Vigo,Spain,Left
...,...,...,...,...,...,...
15366,G. McEachran,10000.0,20,Chelsea,England,Left
15466,P. Glatzel,11000.0,20,Tranmere Rovers,Germany,Left
16078,J. Russell,10000.0,20,Chelsea,England,Right
16635,A. Reghba,10000.0,21,Leicester City,Republic of Ireland,Right
17084,Iker Pozo,10000.0,20,Manchester City,Spain,Right

We can use the `isin()` method to check for membership in a list of values:

In [22]:
players.loc[
    players.nationality_name.isin(['Nigeria', 'Ghana']),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
91,W. Ndidi,120000.0,24,Leicester City,Nigeria,Right
173,T. Partey,115000.0,28,Arsenal,Ghana,Right
491,V. Osimhen,66000.0,22,Napoli,Nigeria,Right
589,P. Onuachu,23000.0,27,KRC Genk,Nigeria,Right
673,V. Moses,56000.0,30,Spartak Moskva,Nigeria,Right
...,...,...,...,...,...,...
17791,A. Boakye,2000.0,20,RZ Pellets Wolfsberger AC,Ghana,Left
18052,I. Said,1000.0,19,Viborg FF,Nigeria,Right
18109,F. Momoh,2000.0,20,Grasshopper Club Zürich,Nigeria,Right
18720,A. Basit,2000.0,21,Benevento,Ghana,Right
18785,G. Asomani,1000.0,22,San Jose Earthquakes,Ghana,Right

We can grab the index of the minimum and maximum values of a given column and use those to select the entire row where they occur:

In [ ]:
[players.age.idxmin(), players.age.idxmax()]

[9800, 16209]

In [23]:
players.loc[
    [players.age.idxmin(), players.age.idxmax()],
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

      short_name  wage_eur  age     club_name nationality_name preferred_foot
9800        Gavi    4000.0   16  FC Barcelona            Spain          Right
16209   K. Miura     700.0   54   Yokohama FC            Japan          Right

Using the `filter()` method, we can grab columns of a dataframe by passing a list to `items`:

In [26]:
players.filter(items=['short_name', 'age', 'wage_eur']).head()

          short_name  age  wage_eur
0           L. Messi   34  320000.0
1     R. Lewandowski   32  270000.0
2  Cristiano Ronaldo   36  270000.0
3          Neymar Jr   29  270000.0
4       K. De Bruyne   30  350000.0