# Subsetting the data

## About the Data
In this notebook, we will be working with FIFA players data for 2022 obtained from [Kaggle](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset)

## Setup
We will be working with the `players_22.csv` file, so we need to handle our imports and read it in.

In [3]:
import pandas as pd

In [4]:
players = pd.read_csv('players_22.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26,109) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Selection of Columns
Grab an entire column using attribute notation:

In [5]:
players.age

0        34
1        32
2        36
3        29
4        30
         ..
19234    22
19235    19
19236    21
19237    19
19238    19
Name: age, Length: 19239, dtype: int64

Grab an entire column using dictionary syntax:

In [6]:
players['age']

0        34
1        32
2        36
3        29
4        30
         ..
19234    22
19235    19
19236    21
19237    19
19238    19
Name: age, Length: 19239, dtype: int64

Selecting multiple columns:

In [7]:
players[['short_name', 'age']]

               short_name  age
0                L. Messi   34
1          R. Lewandowski   32
2       Cristiano Ronaldo   36
3               Neymar Jr   29
4            K. De Bruyne   30
...                   ...  ...
19234           Song Defu   22
19235           C. Porter   19
19236            N. Logue   21
19237           L. Rudden   19
19238  E. Lalchhanchhuaha   19

[19239 rows x 2 columns]

## Slicing
### Selecting rows
Using row numbers (inclusive of first index, exclusive of last):

In [8]:
players[100:103]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
100,175943,https://sofifa.com/player/175943/dries-mertens...,D. Mertens,Dries Mertens,"CF, ST, CAM",84,84,20500000.0,105000.0,34,...,46+3,46+3,46+3,58+3,16+3,https://cdn.sofifa.net/players/175/943/22_120.png,https://cdn.sofifa.net/teams/48/60.png,https://cdn.sofifa.net/flags/it.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
101,181291,https://sofifa.com/player/181291/georginio-wij...,G. Wijnaldum,Georginio Wijnaldum,"CM, CDM",84,84,40500000.0,115000.0,30,...,79+3,79+3,79+3,80+3,19+3,https://cdn.sofifa.net/players/181/291/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/105035/60.png,https://cdn.sofifa.net/flags/nl.png
102,183711,https://sofifa.com/player/183711/jordan-hender...,J. Henderson,Jordan Henderson,"CDM, CM",84,84,29500000.0,140000.0,31,...,79+3,79+3,79+3,79+3,19+3,https://cdn.sofifa.net/players/183/711/22_120.png,https://cdn.sofifa.net/teams/9/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1318/60.png,https://cdn.sofifa.net/flags/gb-eng.png

### Selecting rows and columns with chaining

In [9]:
players[['short_name', 'age']][100:103]

       short_name  age
100    D. Mertens   34
101  G. Wijnaldum   30
102  J. Henderson   31

Order doesn't matter:

In [10]:
players[100:103][['short_name', 'age']].equals(
    players[['short_name', 'age']][100:103]
)

True

### Location Indexing with `loc`
Selection of the format `loc[row_indexer, column_indexer]` where `:` can be used to select all:

In [11]:
players.loc[:,'long_name']

0             Lionel Andrés Messi Cuccittini
1                         Robert Lewandowski
2        Cristiano Ronaldo dos Santos Aveiro
3              Neymar da Silva Santos Júnior
4                            Kevin De Bruyne
                        ...
19234                                    宋德福
19235                        Caoimhin Porter
19236                Nathan Logue-Cunningham
19237                            Luke Rudden
19238                Emanuel Lalchhanchhuaha
Name: long_name, Length: 19239, dtype: object

We can use `loc` to select specific rows and columns without chaining. If we use row numbers with `loc`, they are now **inclusive** of the end index:

In [12]:
players.loc[10:15, ['long_name', 'age']]

                            long_name  age
10                       N'Golo Kanté   30
11                      Karim Benzema   33
12                   Thibaut Courtois   29
13                            손흥민 孙兴慜   28
14  Carlos Henrique Venancio Casimiro   29
15                    Virgil van Dijk   29

#### Integer Location Indexing with `iloc`
Exclusive of the endpoint just as Python slicing of lists:

In [14]:
players.iloc[10:15, [3, 9]]

                            long_name  age
10                       N'Golo Kanté   30
11                      Karim Benzema   33
12                   Thibaut Courtois   29
13                            손흥민 孙兴慜   28
14  Carlos Henrique Venancio Casimiro   29

We can use slicing syntax with `iloc` for both rows and columns:

In [15]:
players.iloc[10:15, 2:4]

     short_name                          long_name
10     N. Kanté                       N'Golo Kanté
11   K. Benzema                      Karim Benzema
12  T. Courtois                   Thibaut Courtois
13       H. Son                            손흥민 孙兴慜
14     Casemiro  Carlos Henrique Venancio Casimiro

### Looking up scalar values
We used `loc` and `iloc` to grab subsets of the dataframe. However, if we are just interested in the specific value at a given [row, column], then we can use `iat` and `at`. 

We use `at` with labels:

In [16]:
players.at[10, 'short_name']

'N. Kanté'

...and `iat` with integer indices:

In [18]:
players.iat[10, 2]

'N. Kanté'

## Filtering
We can filter our dataframes using a **Boolean mask**, which can be made as follows:

In [20]:
players.age > 18

0        True
1        True
2        True
3        True
4        True
         ...
19234    True
19235    True
19236    True
19237    True
19238    True
Name: age, Length: 19239, dtype: bool

To use a mask for selection, we simply place it inside the brackets:

In [21]:
players[players.age >= 18]

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
19235,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19236,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19237,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

We can use masks with `loc`:

In [23]:
players.loc[
    players.age >= 18,
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
0,L. Messi,320000.0,34,Paris Saint-Germain,Argentina,Left
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

Masks can be created using multiple criteria when combined with bitwise operators `&` for AND and `|` for OR. We must also surround each criterion with parentheses. We can't use `and`/`or` here because we need to evaluate row by row:

In [26]:
players.loc[
    (players.age == 18) & (players.preferred_foot == 'Right'),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
387,Pedri,51000.0,18,FC Barcelona,Spain,Right
661,J. Bellingham,21000.0,18,Borussia Dortmund,England,Right
862,F. Wirtz,18000.0,18,Bayer 04 Leverkusen,Germany,Right
1122,G. Reyna,18000.0,18,Borussia Dortmund,United States,Right
1450,A. Hložek,500.0,18,AC Sparta Praha,Czech Republic,Right
...,...,...,...,...,...,...
19194,E. Singh,500.0,18,ATK Mohun Bagan FC,India,Right
19203,C. Noonan,500.0,18,Shamrock Rovers,Republic of Ireland,Right
19227,A. Shaikh,500.0,18,ATK Mohun Bagan FC,India,Right
19229,H. Singh,500.0,18,SC East Bengal FC,India,Right
19232,M. O'Brien,500.0,18,Longford Town,Republic of Ireland,Right

An example with an OR condition, which is must less restrictive:

In [27]:
players.loc[
    (players.age == 18) | (players.preferred_foot == 'Right'),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
5,J. Oblak,130000.0,28,Atlético de Madrid,Slovenia,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

Masks can be any criteria that results in a Boolean. For example, we can select all right foot players with the string `Right` in the `preferred_foot` column with a non-null value for the `wage_eur` column. To get non-nulls, we can use the `notnull()` method:

In [28]:
players.loc[
    (players.preferred_foot.str.contains('Right')) & (players.wage_eur.notnull()),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
1,R. Lewandowski,270000.0,32,FC Bayern München,Poland,Right
2,Cristiano Ronaldo,270000.0,36,Manchester United,Portugal,Right
3,Neymar Jr,270000.0,29,Paris Saint-Germain,Brazil,Right
4,K. De Bruyne,350000.0,30,Manchester City,Belgium,Right
5,J. Oblak,130000.0,28,Atlético de Madrid,Slovenia,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

We can use the `between()` method to turn 2 individual checks (is less than or equal some maximum value and is greater than or equal to some minimum value) into a single one. Note this is inclusive of the endpoint by default:

In [29]:
players.loc[
    players.age.between(18, 25),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
6,K. Mbappé,230000.0,22,Paris Saint-Germain,France,Right
21,G. Donnarumma,110000.0,22,Paris Saint-Germain,Italy,Right
29,E. Haaland,110000.0,20,Borussia Dortmund,Norway,Left
43,F. de Jong,210000.0,24,FC Barcelona,Netherlands,Right
44,T. Alexander-Arnold,150000.0,22,Liverpool,England,Right
...,...,...,...,...,...,...
19234,Song Defu,1000.0,22,Wuhan FC,China PR,Right
19235,C. Porter,500.0,19,Derry City,Republic of Ireland,Right
19236,N. Logue,500.0,21,Finn Harps,Republic of Ireland,Right
19237,L. Rudden,500.0,19,Finn Harps,Republic of Ireland,Right
19238,E. Lalchhanchhuaha,500.0,19,NorthEast United FC,India,Right

We can use the `isin()` method to check for membership in a list of values:

In [30]:
players.loc[
    players.nationality_name.isin(['France', 'Argentina']),
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

,short_name,wage_eur,age,club_name,nationality_name,preferred_foot
0,L. Messi,320000.0,34,Paris Saint-Germain,Argentina,Left
6,K. Mbappé,230000.0,22,Paris Saint-Germain,France,Right
10,N. Kanté,230000.0,30,Chelsea,France,Right
11,K. Benzema,350000.0,33,Real Madrid CF,France,Right
30,S. Agüero,260000.0,33,FC Barcelona,Argentina,Right
...,...,...,...,...,...,...
18375,S. Goma,750.0,19,FC Academica Clinceni,France,Right
18381,A. Delphis,500.0,18,FC Sochaux-Montbéliard,France,Right
18424,I. Hamache,500.0,18,Valenciennes FC,France,Right
18435,B. Nkololo,500.0,24,Central Coast Mariners,France,Left
18837,M. Mastil,1000.0,21,FC Lausanne-Sport,France,Right

We can grab the index of the minimum and maximum values of a given column and use those to select the entire row where they occur:

In [31]:
[players.age.idxmin(), players.age.idxmax()]

[9800, 16209]

In [33]:
players.loc[
    [players.age.idxmin(), players.age.idxmax()],
    ['short_name', 'wage_eur', 'age', 'club_name', 'nationality_name', 'preferred_foot']
]

      short_name  wage_eur  age     club_name nationality_name preferred_foot
9800        Gavi    4000.0   16  FC Barcelona            Spain          Right
16209   K. Miura     700.0   54   Yokohama FC            Japan          Right

Using the `filter()` method, we can grab columns of a dataframe by passing a list to `items`:

In [34]:
players.filter(items=['short_name', 'age']).head()

          short_name  age
0           L. Messi   34
1     R. Lewandowski   32
2  Cristiano Ronaldo   36
3          Neymar Jr   29
4       K. De Bruyne   30